<div
  style="padding:20px; margin: 1.5em; border: 1px solid lightblue; line-height: normal;background-image: linear-gradient( lightblue,white);">
  <h1>Ajouter un nouveau forfait</h1>

  <form class="formulaire-form">
    <mat-form-field class="example-full-width">
      <mat-label>Destination</mat-label>
      <input type="text" required minlength="2" placeholder="Choisissez une destination" aria-label="Number" matInput
        [formControl]="destinationsControl" [matAutocomplete]="autocomplete1">
      <mat-autocomplete #autocomplete1="matAutocomplete">
        <mat-option *ngFor="let destination of filteredDestinations  | async" [value]="destination">
          {{destination}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <form class="formulaire-form">
    <mat-form-field class="example-full-width">
      <mat-label>Ville de destination</mat-label>
      <input type="text" required minlength="2" placeholder="Choisissez la ville de départ" aria-label="Number" matInput
        [formControl]="villesDepartControl" [matAutocomplete]="autocomplete2">
      <mat-autocomplete #autocomplete2="matAutocomplete">
        <mat-option *ngFor="let ville of filteredVillesDepart | async" [value]="ville">
          {{ville}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <form class="formulaire-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nom de l’hôtel</mat-label>
      <input type="text" matInput required minlength="2" placeholder="Nom de l’hôtel">
    </mat-form-field>
  </form>

  <form class="formulaire-form">
    <mat-form-field class="example-full-width">
      <mat-label>Coordonnées </mat-label>
      <input type="text" required minlength="2" matInput placeholder="coordonnees">
    </mat-form-field>
  </form>

  <form class="formulaire-form">
    <mat-label>Nombre d'étoiles: </mat-label>
    <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" min="1" max="5">
    </mat-slider>
  </form>

  <form class="formulaire-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre de chambres</mat-label>
      <input matInput required type="number" min="1" placeholder="Nombre de chambres">
    </mat-form-field>
  </form>

  <form class="formulaire-form">
    <mat-form-field class="example-full-width">
      <mat-label>Prix</mat-label>
      <input matInput required type="number" min="1" placeholder="Prix">
    </mat-form-field>
  </form>
</div>
