<div
  style="padding:20px; margin: 1.5em; border: 1px solid lightblue; line-height: normal;background-image: linear-gradient( lightblue,white);">
  <h1>Ajouter un nouveau forfait</h1>

  <form class="formulaire-form">
    <mat-form-field class="example-full-width">
      <mat-label>Destination</mat-label>
      <input type="text" required minlength="2" placeholder="Choisissez une destination" aria-label="Number" matInput
        [formControl]="destinationsControl" [matAutocomplete]="autocomplete1">
      <mat-autocomplete #autocomplete1="matAutocomplete">
        <mat-option *ngFor="let destination of filteredDestinations  | async" [value]="destination">
          {{destination}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <form class="formulaire-form">
    <mat-form-field class="example-full-width">
      <mat-label>Ville de départ</mat-label>
      <input type="text" required minlength="2" placeholder="Choisissez la ville de départ" aria-label="Number" matInput
        [formControl]="villesDepartControl" [matAutocomplete]="autocomplete2">
      <mat-autocomplete #autocomplete2="matAutocomplete">
        <mat-option *ngFor="let ville of filteredVillesDepart | async" [value]="ville">
          {{ville}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <form class="formulaire-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nom de l’hôtel</mat-label>
      <input type="text" matInput required minlength="2" placeholder="Nom de l’hôtel">
    </mat-form-field>
  </form>

  <form class="formulaire-form">
    <mat-form-field class="example-full-width">
      <mat-label>Coordonnées </mat-label>
      <input type="text" matInput required minlength="2" placeholder="coordonnees">
    </mat-form-field>
  </form>

  <form class="formulaire-form">
    <mat-label>Nombre d'étoiles: </mat-label>
    <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" min="1" max="5">
    </mat-slider>
  </form>

  <form class="formulaire-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre de chambres</mat-label>
      <input type="number" matInput required min="1" placeholder="Nombre de chambres">
    </mat-form-field>
  </form>

  <form class="formulaire-form">
    <div style="padding: 50px; width:400px;">

      <mat-card>
    
        <mat-card-title>Caractéristiques</mat-card-title>
   
        <mat-card-content>
    
          <mat-list>
    
            
    
            <mat-list-item *ngFor="let item of checkbox_list">
              <mat-checkbox
              [(ngModel)]="item.checked"
              [disabled]="item.disabled"
              [labelPosition]="item.labelPosition"
              (change)="list_change()"
              >{{ item.name }}</mat-checkbox>
            </mat-list-item>
    
          </mat-list>
    
        </mat-card-content>
      </mat-card>
    </div>
  </form>

  <form class="formulaire-form">
    <mat-form-field class="example-full-width">
      <mat-label>Date de départ</mat-label>
      <input matInput required [matDatepicker]="pickerDateDepart">
      <mat-datepicker-toggle matSuffix [for]="pickerDateDepart"></mat-datepicker-toggle>
      <mat-datepicker #pickerDateDepart></mat-datepicker>
    </mat-form-field>
  </form>

  <form class="formulaire-form">
    <mat-form-field class="example-full-width">
      <mat-label>Date de retour</mat-label>
      <input matInput required [matDatepicker]="pickerDateRetour">
      <mat-datepicker-toggle matSuffix [for]="pickerDateRetour"></mat-datepicker-toggle>
      <mat-datepicker #pickerDateRetour></mat-datepicker>
    </mat-form-field>
  </form>

  <form class="formulaire-form">
    <mat-form-field class="example-full-width">
      <mat-label>Prix</mat-label>
      <input type="number" matInput required min="1" placeholder="Prix">
    </mat-form-field>
  </form>

  <form class="formulaire-form">
    <mat-form-field class="example-full-width">
      <mat-label>Rabais</mat-label>
      <input type="number" matInput required min="0" placeholder="Rabais">
    </mat-form-field>
  </form>
</div>
