<style>

  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
  }

  h1
  {
    color: #125699;
  }
  
  h2
  {
    color: #1976d2;
  }

  p {
    margin: 0 16px;
    font-weight: 600;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
  
</style>

<h1>{{ titrePrincipal }}</h1>
<h2>{{ sousTitre }}</h2>
<p>{{ description }}</p>

<router-outlet></router-outlet>