// <!-- variables.sass -->
// <!-- Programmation Web 2 & Interfaces Web 2 -->
// <!-- Nico Gelinas -->
    
$background: #2B7A78;
$leftcolorHeaderFooter: #2B7A78;
$rightcolorHeaderFooter: #17252A;
$mainColorTitle1: silver;

