<div style="margin-left: 15px; font-size: 1.2em;">
    <b>A propos</b> 
</div>
  
<nav>
    <a routerLink="/app-acceuil" mat-raised-button color="primary" style="margin: 4px;">Acceuil</a>&nbsp;
    <a routerLink="/apropos-component" mat-raised-button color="primary" style="margin: 4px;">A Propos</a>&nbsp;
    <a routerLink="/forfaits-x-component" mat-raised-button color="primary" style="margin: 4px;">forfaits Mexique</a>&nbsp;   
    <a routerLink="/forfaits-y-component" mat-raised-button color="primary" style="margin: 4px;">forfaits Cuba</a>&nbsp;    
    <a routerLink="/app-administration-component" mat-raised-button color="primary" style="margin: 4px;">Administration</a>     
</nav>

